<% @works.each do |work| %>
  <div id="test-applicatioin<%= work.id %>" class="white-popup mfp-with-anim mfp-hide">
    <h4 align="center">【残業申請】</h4>
    <%= form_for(work, url: one_overtime_application_path, method: :post ) do |f| %>
      <%= f.hidden_field :id, :value => work.id %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.hidden_field :first_day, :value => @first_day %>
      <table class="txt1 table table-bordered table-striped table-condensed table-status">
        <thead>
          <tr>
            <th class="table-header">日付</th>
            <th class="table-header">曜日</th>
            <th class="table-header">終了予定時間</th>
            <th class="table-header">翌日</th>
            <th class="table-header">業務処理内容</th>
            <th class="table-header">指示者確認㊞</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-body"><%= work.day.month %>/<%= work.day.day %></td>
            <td class="table-body"><%= @youbi[work.day.wday] %></td>
            <!-- 終了予定時間の表示  -->
            <td class="table-body">
              <%= f.datetime_select :scheduled_end_time, {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, {class: "form-control bootstrap-date-only-width scheduled_end_time"} %>
            </td>
            <!-- 翌日のチェックボックスの表示  -->
            <td class="table-body">
              <%= check_box_tag :check %>
            </td>
            <!-- 業務処理内容の表示  -->
            <td class="table-body">
              <%= f.text_field :work_description, class: 'form-control'%>
            </td>
            <!-- 指示者確認㊞の表示  -->
            <td class="table-body">
              <% if !work.authorizer_user_id.blank? && !User.find_by(id: work.authorizer_user_id).blank? %>
                <% if work.applying? %>
                  <%= User.find_by(id: work.authorizer_user_id).name %>へ申請中
                <% elsif work.approval? %>
                  <%= User.find_by(id: work.authorizer_user_id).name %>から承認済
                <% elsif work.denial? %>
                  <%= User.find_by(id: work.authorizer_user_id).name %>から否認
                <% else %>
                <% end %>
              <% end %>
              <%= f.collection_select :authorizer_user_id, @superior_users, :id, :name, {:include_blank => true, :selected => 0}, {:class => "form-control authorizer_user_id"} %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
<% end %>