<!DOCTYPE html>
<html>
<% office_time_total = 0  %>
<% working_days = 0 %>
  <body>
	<table>
	<% current_user = User.find_by(id: session[:user_id]) %>
	<tbody>
		<tr>
			<td><%= link_to "←", root_path(first_day: @first_day.prev_month) %>
			  <%=  @first_day.year %>年<%=  @first_day.month %>月　時間管理表
			  <%= link_to "→", root_path(first_day: @first_day.next_month) %></td>
			<td>指定勤務時間: <%= current_user.workingtime.hour if !current_user.workingtime.nil? %> 時間</td>
			<td colspan="3">基本時間: <%= current_user.basictime.hour if !current_user.basictime.nil? %> 時間</td>
			<td>初日 <%=  @first_day.month %>/<%=  @first_day.day %></td>
		</tr>
		<tr>
			<td>所属:</td>
			<td>
				氏名:<%= current_user.name %>
				</td>
			<td>コード</td>
			<td></td>
			<td>出勤日数: <%= $working_day %>日</td>
			<td>締め <%=  @first_day.month %>/<%=  @last_day.day %></td>
		</tr>
	</tbody>
</table>
<br>
<%= link_to("勤怠編集", "/users/#{@user.id}/attendancetime_edit", class: "btn btn-lg btn-primary") if current_user.admin? || current_user.id == @user.id  %>
<br>
<br>
<table>
	<tbody>
		<tr>
			<td rowspan="2">日付</td>
			<td rowspan="2">曜日</td>
			<td colspan="3">出社</td>
			<td colspan="3">退社</td>
			<td rowspan="2">在社時間</td>
			<td rowspan="2">残業指示</td>
			<td rowspan="2">指示書</td>
		</tr>
		<tr>
			<td>時</td>
			<td>分</td>
			<td></td>
			<td>時</td>
			<td>分</td>
			<td></td>
		</tr>
	</tbody>
</table>
<% (@first_day..@last_day).each do |date|%> 
 <table>
	<tbody>
		<tr>
			<td><%= @first_day.month %>/<%= date.day %></td>
			<td>
				<%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
			<td>
				<% if Work.find_by(day: date, userid: current_user.id).nil? %>
					<% work = Work.new(day: date, userid: current_user.id) %>
					<% work.save %>
				<% else %>
					<% work = Work.find_by(day: date ,userid: current_user.id) %>
				<% end %>
				<% attendance_hour = work.attendance_time.strftime("%H") if !work.attendance_time.nil? %>
				<%= attendance_hour %>
				</td>
			<td><% attendance_min = work.attendance_time.strftime("%M") if !work.attendance_time.nil? %>
				<%= attendance_min %></td>
			<td>
				<% if work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today %>
					<%= form_for @work, :url => {:action => 'attend'} do |f| %>
						<%= submit_tag "出社", class: "btn btn-primary" %>
					<% end %>
        <% end %>
				</td>
			<td><% leaving_hour = work.leaving_time.strftime("%H") if !work.leaving_time.nil? %>
				<%= leaving_hour %></td>
			<td><% leaving_min = work.leaving_time.strftime("%M") if !work.leaving_time.nil? %>
				<%= leaving_min %></td>
			<td>
				<% if !work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today %>
        	<%= form_for @work, :url => {:action => 'leave'} do |f| %>
          	<%= f.submit "退社", class: "btn btn-primary" %>
          <% end %>
        <% end %>
				</td>
			<td>
				<% if !work.attendance_time.nil? && !work.leaving_time.nil? %>
					<% office_time = work.leaving_time - work.attendance_time %>
					<% if office_time < 3600 %>
						<% office_time_min = sprintf("%.0f",office_time/60) %>
						<%= office_time_min %>分
					<% elsif office_time > 3600 %>
						<% office_time_hour = sprintf("%.2f",office_time/3600) %>
						<%= office_time_hour %>時間
					<% end %>
					<% office_time_total += office_time.to_i %>
					<% working_days += 1 %>
					<% $working_day = working_days %>
				<% end %>
				</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
	<% if date == @last_day %>
 <table>
	<tbody>
		<tr>
			<td>総合勤務時間</td>
			<td><% working_time = working_days * current_user.workingtime.hour.to_i if !current_user.workingtime.nil? %>
				<%= working_time %>時間</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>今月の在社時間</td>
			<td><% if office_time_total > 3600 %>
							<% surplus_officetime = 0 if (office_time_total % 3600)/60 == 0  %>
							<% surplus_officetime = 0.083 if (office_time_total % 3600)/60 > 0 && (office_time_total % 3600)/60 <= 9 %>
							<% surplus_officetime = 0.166 if (office_time_total % 3600)/60 > 9 && (office_time_total % 3600)/60 <= 14 %>
							<% surplus_officetime = 0.25 if (office_time_total % 3600)/60 > 14 && (office_time_total % 3600)/60 <= 19 %>
							<% surplus_officetime = 0.333 if (office_time_total % 3600)/60 > 19 && (office_time_total % 3600)/60 <= 24 %>
							<% surplus_officetime = 0.416 if (office_time_total % 3600)/60 > 24 && (office_time_total % 3600)/60 <= 29 %>
							<% surplus_officetime = 0.5 if (office_time_total % 3600)/60 > 29 && (office_time_total % 3600)/60 <= 34 %>
							<% surplus_officetime = 0.583 if (office_time_total % 3600)/60 > 34 && (office_time_total % 3600)/60 <= 39 %>
							<% surplus_officetime = 0.666 if (office_time_total % 3600)/60 > 39 && (office_time_total % 3600)/60 <= 44 %>
							<% surplus_officetime = 0.75 if (office_time_total % 3600)/60 > 44 && (office_time_total % 3600)/60 <= 49 %>
							<% surplus_officetime = 0.833 if (office_time_total % 3600)/60 > 49 && (office_time_total % 3600)/60 <= 54 %>
							<% surplus_officetime = 0.916 if (office_time_total % 3600)/60 > 54 %>
							<% office_time_total_display = sprintf("%.2f",office_time_total/3600+surplus_officetime) %>
							<%= office_time_total_display %>時間
						<% elsif office_time_total < 3600 %>
							<% office_time_total_display = sprintf("%.0f",office_time_total/60) %>
							<%= office_time_total_display %>分
					<% end %></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	</table>
	<% end %>
<% end %>
</body>
</html>