<!DOCTYPE html>
<html>
<% office_time_total = 0  %>
<% working_days = 0 %>
<% current_user=User.find(params[:id]) %>
<body>
<br>
<br>
<br>
<table>
	<tbody>
		<tr>
			<td rowspan="2">日付</td>
			<td rowspan="2">曜日</td>
			<td colspan="3">出社</td>
			<td colspan="3">退社</td>
			<td rowspan="2">在社時間</td>
			<td rowspan="2">残業指示</td>
			<td rowspan="2">指示書</td>
		</tr>
	</tbody>
</table>
<%= form_for @work, :url => {:action => 'attendancetime_update'}, method: "patch" do |f| %>
<% (@first_day..@last_day).each do |date|%> 
 <table>
	<tbody>
		<tr>
			<td><%= @first_day.month %>/<%= date.day %></td>
			<td>
				<%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
			<td>
				<% if Work.find_by(day: date, userid: current_user.id).nil? %>
					<% work = Work.new(day: date, userid: current_user.id) %>
					<% work.save %>
				<% else %>
					<% work = Work.find_by(day: date, userid: current_user.id) %>
				<% end %>
				<%= f.fields_for "works[]", work do |fi| %>
					<%= fi.time_field :attendance_time, :include_blank => true if work.attendance_time.nil? %>
					<%= fi.time_field :attendance_time, :default => work.attendance_time if !work.attendance_time.nil? %>
				</td>
			<td>
					<%= fi.time_field :leaving_time, :include_blank => true if work.attendance_time.nil? %>
					<%= fi.time_field :leaving_time, :default => work.leaving_time if !work.leaving_time.nil? %>
				<% end %>
			</td>
			<td>
				<% if !work.attendance_time.nil? && !work.leaving_time.nil? %>
					<% officeTimeDay = BigDecimal(((work.leaving_time - work.attendance_time)/60/60).to_s).round(3).to_f %>
					<%= sprintf("%.2f", officeTimeDay ) %>時間
					<% office_time = work.leaving_time - work.attendance_time %>
					<% office_time_total += office_time.to_i %>
				<% end %>
				</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<% end %>
<br>
<%= f.submit "保存", class: "btn btn-lg btn-primary" %>
<% end %>
<br>
<%= link_to("キャンセル", user_path , class: "btn btn-lg btn-primary") %>
</body>
</html>