<!DOCTYPE html>
<html>
<% current_user=User.find(params[:id]) %>
<body>
<br>
<br>
<br>
<table>
	<tbody>
		<tr>
			<td rowspan="2">日付</td>
			<td rowspan="2">曜日</td>
			<td colspan="3">出社</td>
			<td colspan="3">退社</td>
			<td rowspan="2">在社時間</td>
			<td rowspan="2">備考</td>
			<td rowspan="2">指示書確認㊞</td>
		</tr>
	</tbody>
</table>
<%= form_for @work, :url => {:action => 'attendancetime_update'}, method: "patch" do |f| %>
<% (@first_day..@last_day).each do |date|%> 
 <table>
	<tbody>
		<tr>
			<td><%= @first_day.month %>/<%= date.day %></td>
			<td>
				<%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
			<td>
				<% if Work.find_by(day: date, user_id: current_user.id).nil? %>
					<% work = Work.new(day: date, user_id: current_user.id) %>
					<% work.save %>
				<% else %>
					<% work = Work.find_by(day: date, user_id: current_user.id) %>
				<% end %>
				<%= f.fields_for "works[]", work do |fi| %>
					<% if work.attendance_time.nil? %>
						<%= fi.time_field :attendance_time, :include_blank => true %>
					<% else %>
						<%= fi.time_field :attendance_time, :default => work.attendance_time %>
					<% end %>
					</td>
				<td>
					<% if work.leaving_time.nil? %>
						<%= fi.time_field :leaving_time, :include_blank => true %>
					<% else %>
						<%= fi.time_field :leaving_time, :default => work.leaving_time %>
					<% end %>
			</td>
			<td>
				<% if !work.attendance_time.nil? && !work.leaving_time.nil? %>
					<% officeTimeDay = BigDecimal(((work.leaving_time - work.attendance_time)/60/60).to_s).round(3).to_f %>
					<%= sprintf("%.2f", officeTimeDay ) %>時間
				<% end %>
				</td>
			<td>
					<% if work.work_description.nil? %>
						<%= fi.text_field :work_description, :include_blank => true %>
					<% else %>
						<%= fi.text_field :work_description, :default => work.work_description %>
					<% end %>
			</td>
			<!-- 指示者確認㊞の表示  -->
        <td class="table-body">
          <% if !work.authorizer_user_id_of_attendance.blank? && !User.find_by(id: work.authorizer_user_id_of_attendance).blank? %>
            <% if work.applying1? %>
              <%= User.find_by(id: work.authorizer_user_id_of_attendance).name %>へ申請中
            <% elsif work.approval2? %>
              <%= User.find_by(id: work.authorizer_user_id_of_attendance).name %>から承認済
            <% elsif work.denial3? %>
              <%= User.find_by(id: work.authorizer_user_id_of_attendance).name %>から否認
            <% else %>
            <% end %>
          <% end %>
          <%= fi.collection_select :authorizer_user_id_of_attendance, @superior_users, :id, :name, {:include_blank => true, :selected => 0}, {:class => "form-control authorizer_user_id_of_attendance"} %>
        </td>
			<% end %>
		</tr>
	</tbody>
</table>
<% end %>
<br>
<%= f.submit "保存", class: "btn btn-lg btn-primary" %>
<% end %>
<br>
<%= link_to("キャンセル", user_path , class: "btn btn-lg btn-primary") %>
</body>
</html>