<!DOCTYPE html>
<html>
<% office_time_total = 0  %>
  <body>
	<table>
	<% current_user = User.find(params[:id]) %>
	<% session_user = User.find_by(id: session[:user_id]) %>
	<tbody>
		<tr>
			<td colspan="3"><%= link_to "←", user_path(first_day: @first_day.prev_month) %>
			  <%=  @first_day.year %>年<%=  @first_day.month %>月　時間管理表
			  <%= link_to "→", user_path(first_day: @first_day.next_month) %></td>
			<td  colspan="3">
				指定勤務開始時間　<%= format("%.2f", ((@user.workingtime.hour*60.0) + @user.workingtime.min)/60) if !@user.workingtime.blank? %><br>
				指定勤務終了時間　<%= format("%.2f", ((@user.working_time_End.hour*60.0) + @user.working_time_End.min)/60) if !@user.working_time_End.blank? %>
			</td>
			<td colspan="3"> 基本時間: <%= format("%.2f", ((@user.basictime.hour*60.0) + @user.basictime.min)/60) if !@user.basictime.blank? %>時間 </td>
			<td>初日 <%=  @first_day.month %>/<%=  @first_day.day %></td>
		</tr>
		<tr>
			<td colspan="3">所属:<%= current_user.affiliation %></td>
			<td colspan="3">
				氏名:<%= current_user.name %>
				</td>
			<td>コード:<%= current_user.uid %></td>
			<td></td>
			<td>出勤日数 
				<% @working_days = Work.where(user_id: params[:id] ,day: Time.new(@first_day.year,@first_day.month).all_month).select("leaving_time").count %>
				<%= @working_days %>日
			</td>
			<td>締め <%=  @first_day.month %>/<%=  @last_day.day %></td>
		</tr>
	</tbody>
</table>
<br>
<%= render 'one_month_attendance' if current_user == @user %>
<%= render 'edit_attendance' if current_user == @user %>
<%= render 'overtime_work' if current_user == @user %>
<br>
<br>
<br>
<br>
<%= link_to("勤怠編集", attendancetime_edit_path(first_day: @first_day), :style=>"color:white;" , class: "btn btn-lg btn-primary") if session_user.admin? || current_user == session_user %>
<%= link_to("CSV出力", user_path(@user, params: { id: @user.id, first_day: @first_day, format: :csv}), :style=>"color:white;" ,class: "btn btn-lg btn-primary") if current_user == @user %>
<%= render 'edit_attendance_log' if current_user == @user %>
<br>
<br>
<table>
	<tbody>
		<tr>
			<td rowspan="1" colspan="10">実績</td>
			<td rowspan="1" colspan="4">所定外勤務</td>
		</tr>
		<tr>
			<td rowspan="3">残業申請</td>
			<td rowspan="3">日付</td>
			<td rowspan="3">曜日</td>
			<td colspan="3">出社</td>
			<td colspan="3">退社</td>
			<td rowspan="2">在社時間</td>
			<td colspan="2">終了予定時間</td>
			<td rowspan="2">業務処理内容</td>
			<td rowspan="2">指示者確認</td>
		</tr>
		<tr>
			<td>時</td>
			<td>分</td>
			<td></td>
			<td>時</td>
			<td>分</td>
			<td></td>
			<td>時</td>
			<td>分</td>
		</tr>
	</tbody>
</table>
<% (@first_day..@last_day).each do |date|%> 
 <table>
	<tbody>
		<tr>
			<% if Work.find_by(day: date, user_id: current_user.id).nil? %>
					<% work = Work.new(day: date, user_id: current_user.id) %>
					<% work.save %>
				<% else %>
					<% work = Work.find_by(day: date, user_id: current_user.id) %>
				<% end %>
			<td class="table-body">
            <div class="inline-applicatioins">
              <%  if current_user == @user %>
                <a style="color:white; " class= "btn btn-sm btn-primary" href="#test-application<%= work.id %>" data-effect="mfp-zoom-in">残業申請</a>
              <% end %>
            </div>
          </td>
      <td class="table-body"><%= work.day.month %>/<%= work.day.day %></td>
			<td><%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
			<td>
				<% attendance_hour = work.attendance_time.strftime("%H") if !work.attendance_time.nil? %>
				<%= attendance_hour %>
				</td>
			<td><% attendance_min = work.attendance_time.strftime("%M") if !work.attendance_time.nil? %>
				<%= attendance_min %></td>
			<td>
				<% if work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today && current_user == session_user %>
					<%= form_for @work, :url => {:action => 'attend'} do |f| %>
						<%= submit_tag "出社", class: "btn btn-primary" %>
					<% end %>
        <% end %>
			</td>
			<td><% leaving_hour = work.leaving_time.strftime("%H") if !work.leaving_time.nil? %>
				<%= leaving_hour %></td>
			<td><% leaving_min = work.leaving_time.strftime("%M") if !work.leaving_time.nil? %>
				<%= leaving_min %></td>
			<td>
				<% if !work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today && current_user == session_user %>
        	<%= form_for @work, :url => {:action => 'leave'} do |f| %>
          	<%= f.submit "退社", class: "btn btn-primary" %>
          <% end %>
        <% end %>
				</td>
			<td>
				<% if !work.attendance_time.nil? && !work.leaving_time.nil? %>
					<% officeTimeDay = BigDecimal(((work.leaving_time - work.attendance_time)/60/60).to_s).round(3).to_f %>
					<%= sprintf("%.2f", officeTimeDay ) %>時間
					<% office_time = work.leaving_time - work.attendance_time %>
					<% office_time_total += office_time %>
				<% end %>
			</td>
			<td><%= work.scheduled_end_time.hour if !work.scheduled_end_time.nil? %></td>
			<td><%= work.scheduled_end_time.min if !work.scheduled_end_time.nil? %></td>
			<td><%= work.work_description if !work.work_description.nil? %></td>
			<td class="table-body">
            <% if work.applying? %>
              残業申請中
            <% elsif work.approval? %>
              残業承認済
            <% elsif work.denial? %>
              残業否認
            <% end %>
            <% if work.applying1? %>
              勤怠編集申請中
            <% elsif work.approval2? %>
              勤怠編集承認済
            <% elsif work.denial3? %>
              勤怠編集否認
            <% end %>
       </td>
		</tr>
	</tbody>
</table>
	<% if date == @last_day %>
 <table>
	<tbody>
		<tr>
			<td colspan="2">総合勤務時間</td>
			<td colspan="2"><% workingTotaltime = Work.where(user_id: params[:id] ,day: Time.new(@first_day.year,@first_day.month).all_month).select("leaving_time").count * basic_time if !basic_time.nil? %>
				<%= sprintf("%.2f", BigDecimal((workingTotaltime).to_s).round(3).to_f )  %>時間</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2">今月の在社時間</td>
			<td colspan="2"><%= sprintf("%.2f", BigDecimal(((office_time_total)/60/60).to_s).round(3).to_f) %>時間</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="table-body">所属長承認　
        <% if @one_month_attendance.blank? || @one_month_attendance.authorizer_user_id.blank? %>
          未
        <% elsif @one_month_attendance.applying? %>
          <%= User.find_by(id: @one_month_attendance.authorizer_user_id).name %>へ申請中
        <% elsif @one_month_attendance.approval? %>
          <%= User.find_by(id: @one_month_attendance.authorizer_user_id).name %>から承認済
        <% elsif @one_month_attendance.denial? %>
          <%= User.find_by(id: @one_month_attendance.authorizer_user_id).name %>から否認
        <% end %>
        <% if current_user == @user  %>
          <%= form_for(@new_one_month_attendance, url: onemonth_application_url, :html => {:class => "one-month-attendance-form"}) do |f| %>
            <%= f.hidden_field :application_user_id, :value => "#{@user.id}"%>
            <%= f.hidden_field :application_date, :value => "#{@first_day}"%>
            <%= f.hidden_field :first_day, :value => "#{@first_day}"%>
            <%= f.collection_select :authorizer_user_id, @superior_users, :id, :name, {:include_blank => true, :selected => 0}, {:class => "form-control one-month-attendance"} %>
            <%= f.submit "申請", class: "btn btn-lg btn-primary" %>
          <% end %>
        <% end %>
      </td>
		</tr>
	</tbody>
	</table>
	<% end %>
<% end %>
<% @works.each do |work| %>
  <div id="test-application<%= work.id %>" class="white-popup mfp-with-anim mfp-hide">
    <h4 align="center">【残業申請】</h4>
    <%= form_for(work, url: one_overtime_application_path, method: :post ) do |f| %>
      <%= f.hidden_field :id, :value => work.id %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.hidden_field :first_day, :value => @first_day %>
      <table class="txt1 table table-bordered table-striped table-condensed table-status">
        <thead>
          <tr>
            <th class="table-header">日付</th>
            <th class="table-header">曜日</th>
            <th class="table-header">終了予定時間</th>
            <th class="table-header">翌日</th>
            <th class="table-header">業務処理内容</th>
            <th class="table-header">指示者確認㊞</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-body"><%= work.day.month %>/<%= work.day.day %></td>
            <td class="table-body"><%= @youbi[work.day.wday] %></td>
            <!-- 終了予定時間の表示  -->
            <td class="table-body">
              <%= f.datetime_select :scheduled_end_time, {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, {class: "form-control bootstrap-date-only-width scheduled_end_time"} %>
            </td>
            <!-- 翌日のチェックボックスの表示  -->
            <td class="table-body">
              <%= check_box_tag :check %>
            </td>
            <!-- 業務処理内容の表示  -->
            <td class="table-body">
              <%= f.text_field :work_description, class: 'form-control'%>
            </td>
            <!-- 指示者確認㊞の表示  -->
            <td class="table-body">
              <% if !work.authorizer_user_id.blank? && !User.find_by(id: work.authorizer_user_id).blank? %>
                <% if work.applying? %>
                  <%= User.find_by(id: work.authorizer_user_id).name %>へ申請中
                <% elsif work.approval? %>
                  <%= User.find_by(id: work.authorizer_user_id).name %>から承認済
                <% elsif work.denial? %>
                  <%= User.find_by(id: work.authorizer_user_id).name %>から否認
                <% else %>
                <% end %>
              <% end %>
              <%= f.collection_select :authorizer_user_id, @superior_users, :id, :name, {:include_blank => true, :selected => 0}, {:class => "form-control authorizer_user_id"} %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
<% end %>
</body>
</html>

<script>
  // モーダル表示用JQuery
  $('.inline-applicatioins').magnificPopup({
    delegate: 'a',
    removalDelay: 500,
    callbacks: {
      beforeOpen: function() {
         this.st.mainClass = this.st.el.attr('data-effect');
      },
    },
  });
  
  // 残業申請の空チェック
  $(function() {
    $('form').submit(function() {
      // 申請日に時間空白あれば未記入の警告を表示する
      // const $trs = $('tbody').find('tr').toArray();
      // var isOverTimeBlank = $trs.some(function( tr ) {
      //   var edited_work_start = $(tr).find('.edited_work_start').val();
      //   var edited_work_end = $(tr).find('.edited_work_end').val();
      //   var authorizer_user_id_of_attendance = $(tr).find('.authorizer_user_id_of_attendance').val();
      //   return ((edited_work_start === '' || edited_work_end === '') && authorizer_user_id_of_attendance !== '')
      // });
      // if (isOverTimeBlank) {
      //   alert("終了予定時間が空です");
      //   return false;
      // }
    });
  
    // 所属長承認申請の空チェック
    // $('.one-month-attendance-form').submit(function() {
    //   if ($('.one-month-attendance').val() === "") {
    //     alert("所属長承認申請の申請者が空です");
    //     return false;
    //   }
    // });
  });
</script>