<!DOCTYPE html>
<html>
<% office_time_total = 0  %>
  <body>
	<table>
	<% current_user = User.find(params[:id]) %>
	<% session_user = User.find_by(id: session[:user_id]) %>
	<tbody>
		<tr>
			<td colspan="3"><%= link_to "←", user_path(first_day: @first_day.prev_month) %>
			  <%=  @first_day.year %>年<%=  @first_day.month %>月　時間管理表
			  <%= link_to "→", user_path(first_day: @first_day.next_month) %></td>
			<td  colspan="3">指定勤務開始時間: <%= sprintf("%.2f", working_time) %><br>
				指定勤務終了時間: <%= sprintf("%.2f", working_time) %>
			</td>
			<td colspan="3"> 基本時間: <%= sprintf("%.2f", basic_time ) %>時間 </td>
			<td>初日 <%=  @first_day.month %>/<%=  @first_day.day %></td>
		</tr>
		<tr>
			<td colspan="3">所属:<%= current_user.affiliation %></td>
			<td colspan="3">
				氏名:<%= current_user.name %>
				</td>
			<td>コード:<%= current_user.uid %></td>
			<td></td>
			<td>出勤日数 
				<% @working_days = Work.where(user_id: params[:id] ,day: Time.new(@first_day.year,@first_day.month).all_month).select("leaving_time").count %>
				<%= @working_days %>日
			</td>
			<td>締め <%=  @first_day.month %>/<%=  @last_day.day %></td>
		</tr>
	</tbody>
</table>
<br>
<%= note_from_boss %>
<br>
<%= note_attendance_change %>
<br>
<%= note_overtime_application %>
<br>
<br>
<%= link_to("勤怠編集", attendancetime_edit_path(first_day: @first_day), class: "btn btn-lg btn-primary") if session_user.admin? || current_user == session_user %>
<%= link_to "CSV出力", user_path(@work, params: { id: @user.id, first_day: @first_day, format: :csv}), :style=>"color:white;" ,class: "btn btn-lg btn-primary" if current_user == @user %>
<%= link_to("勤怠修正ログ（承認済）", attendancetime_edit_path(first_day: @first_day), class: "btn btn-lg btn-primary") if session_user.admin? || current_user == session_user %>
<br>
<br>
<table>
	<tbody>
		<tr>
			<td rowspan="1" colspan="10">実績</td>
			<td rowspan="1" colspan="4">所定外勤務</td>
		</tr>
		<tr>
			<td rowspan="3">残業申請</td>
			<td rowspan="3">日付</td>
			<td rowspan="3">曜日</td>
			<td colspan="3">出社</td>
			<td colspan="3">退社</td>
			<td rowspan="2">在社時間</td>
			<td colspan="2">終了予定時間</td>
			<td rowspan="2">業務処理内容</td>
			<td rowspan="2">指示者確認</td>
		</tr>
		<tr>
			<td>時</td>
			<td>分</td>
			<td></td>
			<td>時</td>
			<td>分</td>
			<td></td>
			<td>時</td>
			<td>分</td>
		</tr>
	</tbody>
</table>
<% (@first_day..@last_day).each do |date|%> 
 <table>
	<tbody>
		<tr>
			<td>
				<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal" data-date="<%=date.month%>/<%=date.day%>"
									data-date_1="<%=date.year%>-<%=date.month%>-<%=date.day%>" data-day="<%= %w(日 月 火 水 木 金 土)[date.wday]%>">
                残業申請
        </button>
				<%= render 'works/modal_overwork_application' %></td>
			<td><%= @first_day.month %>/<%= date.day %></td>
			<td>
				<%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
			<td>
				<% if Work.find_by(day: date, user_id: current_user.id).nil? %>
					<% work = Work.new(day: date, user_id: current_user.id) %>
					<% work.save %>
				<% else %>
					<% work = Work.find_by(day: date, user_id: current_user.id) %>
				<% end %>
				<% attendance_hour = work.attendance_time.strftime("%H") if !work.attendance_time.nil? %>
				<%= attendance_hour %>
				</td>
			<td><% attendance_min = work.attendance_time.strftime("%M") if !work.attendance_time.nil? %>
				<%= attendance_min %></td>
			<td>
				<% if work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today && current_user == session_user %>
					<%= form_for @work, :url => {:action => 'attend'} do |f| %>
						<%= submit_tag "出社", class: "btn btn-primary" %>
					<% end %>
        <% end %>
			</td>
			<td><% leaving_hour = work.leaving_time.strftime("%H") if !work.leaving_time.nil? %>
				<%= leaving_hour %></td>
			<td><% leaving_min = work.leaving_time.strftime("%M") if !work.leaving_time.nil? %>
				<%= leaving_min %></td>
			<td>
				<% if !work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today && current_user == session_user %>
        	<%= form_for @work, :url => {:action => 'leave'} do |f| %>
          	<%= f.submit "退社", class: "btn btn-primary" %>
          <% end %>
        <% end %>
				</td>
			<td>
				<% if !work.attendance_time.nil? && !work.leaving_time.nil? %>
					<% officeTimeDay = BigDecimal(((work.leaving_time - work.attendance_time)/60/60).to_s).round(3).to_f %>
					<%= sprintf("%.2f", officeTimeDay ) %>時間
					<% office_time = work.leaving_time - work.attendance_time %>
					<% office_time_total += office_time %>
				<% end %>
				</td>
			<td><%= work.scheduled_end_time.hour if !work.scheduled_end_time.nil? %></td>
			<td><%= work.scheduled_end_time.min if !work.scheduled_end_time.nil? %></td>
			<td><%= work.work_description if !work.work_description.nil? %></td>
			<td><%= work.check_by_boss if !work.check_by_boss.nil? %></td>
		</tr>
	</tbody>
</table>
	<% if date == @last_day %>
 <table>
	<tbody>
		<tr>
			<td colspan="2">総合勤務時間</td>
			<td colspan="2"><% workingTotaltime = Work.where(user_id: params[:id] ,day: Time.new(@first_day.year,@first_day.month).all_month).select("leaving_time").count * basic_time if !basic_time.nil? %>
				<%= sprintf("%.2f", BigDecimal((workingTotaltime).to_s).round(3).to_f )  %>時間</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2">今月の在社時間</td>
			<td colspan="2"><%= sprintf("%.2f", BigDecimal(((office_time_total)/60/60).to_s).round(3).to_f) %>時間</td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="1" colspan="2">所属長承認　未
			<%= form_tag({:controller => 'works', :action => 'apply_attendance'}, {:method => :patch}) do %>
				<%= fields_for @work do |f| %>
	      	<%= f.select :check_by_boss, [["上長A", "上長A"],["上長B", "上長B"],["上長C", "上長C"]], {prompt: ""},{required: true} %>
	      	<%= submit_tag "申請", class: "btn btn-primary" %>
	      <% end %>
	    <% end %>
      </td>
		</tr>
	</tbody>
	</table>
	<% end %>
<% end %>
</body>
</html>