<!DOCTYPE html>
<html>
<% office_time_total = 0  %>
  <body>
	<table>
	<% current_user = User.find(params[:id]) %>
	<% session_user = User.find_by(id: session[:user_id]) %>
	<tbody>
		<tr>
			<td><%= link_to "←", user_path(first_day: @first_day.prev_month) %>
			  <%=  @first_day.year %>年<%=  @first_day.month %>月　時間管理表
			  <%= link_to "→", user_path(first_day: @first_day.next_month) %></td>
			<td>指定勤務時間: <%= sprintf("%.2f", working_time) %>時間</td>
			<td colspan="3"> 基本時間: <%= sprintf("%.2f", basic_time ) %>時間 </td>
			<td>初日 <%=  @first_day.month %>/<%=  @first_day.day %></td>
		</tr>
		<tr>
			<td>所属:<%= current_user.affiliation %></td>
			<td>
				氏名:<%= current_user.name %>
				</td>
			<td>コード</td>
			<td></td>
			<td>出勤日数 
				<% working_days = Work.where(userid: params[:id] ,day: Time.new(@first_day.year,@first_day.month).all_month).select("leaving_time").count %>
				<%= working_days %>日
			</td>
			<td>締め <%=  @first_day.month %>/<%=  @last_day.day %></td>
		</tr>
	</tbody>
</table>
<br>
【所属長承認申請のお知らせ】
<br>
【勤怠変更のお知らせ】
<br>
【残業申請のお知らせ】
<br>
<br>
<%= link_to("勤怠編集", attendancetime_edit_path(first_day: @first_day), class: "btn btn-lg btn-primary") if session_user.admin? || current_user == session_user %>
<br>
<br>
<table>
	<tbody>
		<tr>
			<td rowspan="2">日付</td>
			<td rowspan="2">曜日</td>
			<td colspan="3">出社</td>
			<td colspan="3">退社</td>
			<td rowspan="2">在社時間</td>
			<td rowspan="2">残業指示</td>
			<td rowspan="2">指示書</td>
		</tr>
		<tr>
			<td>時</td>
			<td>分</td>
			<td></td>
			<td>時</td>
			<td>分</td>
			<td></td>
		</tr>
	</tbody>
</table>
<% (@first_day..@last_day).each do |date|%> 
 <table>
	<tbody>
		<tr>
			<td><%= @first_day.month %>/<%= date.day %></td>
			<td>
				<%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
			<td>
				<% if Work.find_by(day: date, userid: current_user.id).nil? %>
					<% work = Work.new(day: date, userid: current_user.id) %>
					<% work.save %>
				<% else %>
					<% work = Work.find_by(day: date, userid: current_user.id) %>
				<% end %>
				<% attendance_hour = work.attendance_time.strftime("%H") if !work.attendance_time.nil? %>
				<%= attendance_hour %>
				</td>
			<td><% attendance_min = work.attendance_time.strftime("%M") if !work.attendance_time.nil? %>
				<%= attendance_min %></td>
			<td>
				<% if work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today && current_user == session_user %>
					<%= form_for @work, :url => {:action => 'attend'} do |f| %>
						<%= submit_tag "出社", class: "btn btn-primary" %>
					<% end %>
        <% end %>
			</td>
			<td><% leaving_hour = work.leaving_time.strftime("%H") if !work.leaving_time.nil? %>
				<%= leaving_hour %></td>
			<td><% leaving_min = work.leaving_time.strftime("%M") if !work.leaving_time.nil? %>
				<%= leaving_min %></td>
			<td>
				<% if !work.attendance_time.nil? && work.leaving_time.nil? && date == Date.today && current_user == session_user %>
        	<%= form_for @work, :url => {:action => 'leave'} do |f| %>
          	<%= f.submit "退社", class: "btn btn-primary" %>
          <% end %>
        <% end %>
				</td>
			<td>
				<% if !work.attendance_time.nil? && !work.leaving_time.nil? %>
					<% officeTimeDay = BigDecimal(((work.leaving_time - work.attendance_time)/60/60).to_s).round(3).to_f %>
					<%= sprintf("%.2f", officeTimeDay ) %>時間
					<% office_time = work.leaving_time - work.attendance_time %>
					<% office_time_total += office_time %>
				<% end %>
				</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
	<% if date == @last_day %>
 <table>
	<tbody>
		<tr>
			<td>総合勤務時間</td>
			<td><% workingTotaltime = Work.where(userid: params[:id] ,day: Time.new(@first_day.year,@first_day.month).all_month).select("leaving_time").count * basic_time if !basic_time.nil? %>
				<%= sprintf("%.2f", BigDecimal((workingTotaltime).to_s).round(3).to_f )  %>時間</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>今月の在社時間</td>
			<td><%= sprintf("%.2f", BigDecimal(((office_time_total)/60/60).to_s).round(3).to_f) %>時間</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	</table>
	<% end %>
<% end %>
</body>
</html>